<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<description>JMX服务端配置文件</description>

	<!-- 配置RMI注册服务器 -->
	<bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean" lazy-init="false">
		<property name="port" value="1099" />
	</bean>

	<!-- 配置JMX远程连接 -->
	<bean id="serverConnector" class="org.springframework.jmx.support.ConnectorServerFactoryBean" lazy-init="false">
		<property name="serviceUrl" value="service:jmx:rmi:///jndi/rmi://${server.host}:1099/showcase" />
		<property name="environment">
			<map>
				<!-- 认证配置,文件路径需为绝对路径 -->
				<!--
					<entry key="jmx.remote.x.password.file" value="/mypath/jmxremote.password" /> <entry
					key="jmx.remote.x.access.file" value="/mypath/jmxremote.access" />
				-->
			</map>
		</property>
	</bean>

	<!-- MBean注册 -->
	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
		<!-- 定义导出的MBean -->
		<property name="beans">
			<map>
				<entry key="org.springside.showcase:type=Configurator" value-ref="serverConfig" />
				<entry key="org.hibernate:type=Statistics" value-ref="hibernateStatistics" />
			</map>
		</property>
	</bean>

	<!-- 系统属性配置MBean -->
	<bean id="serverConfig" class="org.springside.examples.showcase.jmx.server.ServerConfig">
		<property name="nodeName" value="node1" />
		<property name="notificationMailEnabled" value="true" />
	</bean>

	<!-- Hibernate Statistics MBean-->
	<bean id="hibernateStatistics" class="org.hibernate.jmx.StatisticsService">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>