<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<description>JMX服务端配置文件</description>

	<!-- 配置RMI注册服务器 -->
	<bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean" lazy-init="false">
		<property name="port" value="${jmx.rmi_port}" />
	</bean>

	<!-- 配置JMX远程连接 -->
	<bean id="serverConnector" class="org.springframework.jmx.support.ConnectorServerFactoryBean" lazy-init="false">
		<property name="serviceUrl" value="service:jmx:rmi:///jndi/rmi://${server.host}:${jmx.rmi_port}/showcase" />
		<property name="environment">
			<map>
				<!-- 认证配置,使用绝对路径 -->
				<!--
					<entry key="jmx.remote.x.password.file" value="/mypath/jmxremote.password" /> <entry
					key="jmx.remote.x.access.file" value="/mypath/jmxremote.access" />
				-->
			</map>
		</property>
	</bean>

	<!-- MBean注册 -->
	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
		<!-- 定义导出的MBean -->
		<property name="beans">
			<map>
				<entry key="org.springside.showcase:type=Configurator" value-ref="configuratorMBean" />
				<entry key="org.springside.showcase:type=Monitor" value-ref="monitorMXBean" />
				<entry key="org.hibernate:type=Statistics" value-ref="hibernateStatisticsMBean" />
			</map>
		</property>
	</bean>

	<!-- ConfiguratoMBean定义-->
	<bean id="configuratorMBean" class="org.springside.examples.showcase.jmx.server.ConfiguratorMBeanImpl">
		<property name="serverConfig" ref="serverConfig" />
	</bean>

	<!-- MonitorMXBean定义-->
	<bean id="monitorMXBean" class="org.springside.examples.showcase.jmx.server.MonitorMXBeanImpl">
		<property name="serverStatistics" ref="serverStatistics" />
	</bean>

	<!-- 系统属性配置 -->
	<bean id="serverConfig" class="org.springside.examples.showcase.jmx.server.ServerConfig">
		<property name="nodeName" value="node1" />
		<property name="statisticsEnabled" value="true" />
	</bean>

	<!-- 系统状态统计 -->
	<bean id="serverStatistics" class="org.springside.examples.showcase.jmx.server.ServerStatistics" />

	<!-- Hibernate StatisticsMBean定义 -->
	<bean id="hibernateStatisticsMBean" class="org.hibernate.jmx.StatisticsService">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>