a:link,a:visited,a:active,a:hover {color: #4d87ce;}

#header
{ background: #B6CF84;
  color: #FFF;
  border-bottom-color: #6C6C6C;
}

#footer
{ background: #B6CF84;
  color: #444;
  border-color: #6C6C6C;
}

#footer a{ color: #444;}
#footer a:hover { color: #FFF;}





