/* global */
html{height: 100%;}

body
{ padding: 0px;
  margin: 0px;
  font-size: .78em;
}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;
}

img{border: 0px;}

a{outline: none;}


/* header */
#header
{ border-top: 1px solid; 
  border-bottom: 1px solid;
}

#header h1
{ margin: 0px;
  padding: 18px 0px 0px 20px;
  font-size: 150%;
  letter-spacing: .2em;
}

#header h2
{ margin: 0px;
  padding: 5px 0px 10px 20px;
  font-size: 125%;
  letter-spacing: .2em;
}

/* footer */
#footer
{ height: 40px;  
  padding: 18px 0px 0px 0px;
  font-size: 90%;
  text-align: center; 
  border-top: 4px solid;
}

/* main content */
#content
{ height: auto;
  padding: 20px 0px 0px 0px;
  overflow: hidden;
}

/* link */
#footer a, #footer a:hover{text-decoration: none;}

/* widths */
#header, #content, #footer
{ width: 100%; 
  margin-left: auto; 
  margin-right: auto;
}

