<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD iBatis Mapper 3.0 //EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="Account">

	<resultMap id="departmentDetailMap" type="Department">
		<id property="id" column="department_id" />
		<result property="name" column="department_name" />
		<association property="manager" column="manager_id" resultMap="departmentDetailMap.managerMap" />
		<collection property="userList" resultMap="departmentDetailMap.userMap" />
	</resultMap>

	<resultMap id="departmentDetailMap.managerMap" type="User">
		<id property="id" column="manager_id" />
		<result property="name" column="manager_name" />
		<result property="email" column="manager_email" />
	</resultMap>

	<resultMap id="departmentDetailMap.userMap" type="User">
		<id property="id" column="user_id" />
		<result property="name" column="user_name" />
		<result property="email" column="user_email" />
	</resultMap>

	<select id="getDepartmentList" resultType="Department">
		select id, name from acct_department
	</select>

	<select id="getDepartmentDetail" parameterType="int" resultMap="departmentDetailMap">
		select d.id as department_id,
		d.name as department_name,
		m.id as
		manager_id,
		m.name as manager_name,
		m.email as manager_email,
		u.id as user_id,
		u.name as user_name,
		u.email as user_email
		from acct_department d, acct_user m, acct_user u
		where d.manager_id=m.id and d.id=u.department_id
		and d.id=#{id}
	</select>
	
	<select id="countByLoginNamePasswd" parameterType="map" resultType="int">
		select count(*) from acct_user where login_name=#{loginName} and password=#{password}
	</select>

	<insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into acct_user (
		login_name,name, password,email,department_id)
		values (#{loginName},#{name},#{password},#{email},#{department.id})
	</insert>
</mapper> 
