<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<description>JMS消费者演示配置</description>

	<!-- 同步接收Queue消息类 -->
	<bean id="notifyQueueConsumer" class="org.springside.examples.showcase.jms.NotifyQueueConsumer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="notifyQueue" ref="notifyQueue" />
	</bean>

	<!-- 异步接收Topic消息Container -->
	<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer" lazy-init="false">
		<property name="connectionFactory" ref="pooledJmsFactory" />
		<property name="destination" ref="notifyTopic" />
		<property name="messageListener" ref="notifyTopicListener" />
	</bean>

	<!-- 异步接收Topic消息处理类 -->
	<bean id="notifyTopicListener" class="org.springside.examples.showcase.jms.NotifyTopicListener" />
</beans>