<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 在测试/演示环境中载入嵌入式的ActiveMQ Server.-->
	<bean id="broker" class="org.apache.activemq.xbean.BrokerFactoryBean">
		<property name="config" value="classpath:jms/activemq.xml" />
	</bean>

	<!-- 标准的Activemq 连接工厂. -->
	<bean id="jmsFactory" class="org.apache.activemq.ActiveMQConnectionFactory" depends-on="broker">
		<property name="brokerURL" value="${jms.broker_url}" />
	</bean>

	<!-- 池化的Activemq连接工厂 .-->
	<bean id="pooledJmsFactory" class="org.apache.activemq.pool.PooledConnectionFactoryBean">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory" depends-on="broker">
				<property name="brokerURL" value="${jms.broker_url}" />
			</bean>
		</property>
	</bean>

	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="pooledJmsFactory" />
	</bean>

	<!-- Queue定义 -->
	<bean id="notifyQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="notifyQueue" />
	</bean>

	<!-- Topic定义 -->
	<bean id="notifyTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="notifyTopic" />
	</bean>
</beans>
