<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<description>JMS消费者演示配置</description>

	<bean id="queueConsumer" class="org.springside.examples.showcase.jms.QueueConsumer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="notifyQueue" ref="notifyQueue" />
	</bean>

	<bean id="jmsContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer" lazy-init="false">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="destination" ref="notifyTopic" />
		<property name="messageListener" ref="topicListener" />
	</bean>

	<bean id="topicListener" class="org.springside.examples.showcase.jms.TopicListener"/>
</beans>