<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

    <!-- Required for security annotations to work in this servlet -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
	    <property name="securityManager" ref="securityManager"/>
	</bean>

	<bean id="showcaseRealm" class="org.springside.examples.showcase.security.ShowcaseRealm"/>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="showcaseRealm" />
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/security/login.action" />
		<property name="successUrl" value="/" />
		<property name="unauthorizedUrl" value="/" />
		<property name="filterChainDefinitions">
			<value>
				/security/** = authc
				/common/** = authc
				/service/** = authcBasic
			</value>
		</property>
	</bean>

	<!-- 项目实现的用户查询服务  -->
	<bean id="userDetailsService"
		class="org.springside.examples.showcase.security.UserDetailsServiceImpl" />

	<!-- 开发时自动登录的filter -->
	<bean id="autoLoginFilter"
		class="org.springside.examples.showcase.security.AutoLoginFilter">
		<property name="enabled" value="${security.autologin.enabled}" />
		<property name="defaultUserName" value="admin" />
	</bean>
</beans>