#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:s="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
	default-lazy-init="true">

	<description>SpringSecurity安全配置</description>

	<!-- http安全配置 -->
	<s:http>
		<s:form-login login-page="/login.action" default-target-url="/" authentication-failure-url="/login.action?error=true" />
		<s:http-basic />
		<s:logout logout-success-url="/" />
		<s:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" />
	</s:http>

	<!-- 认证配置, 使用userDetailsService提供的用户信息 -->
	<s:authentication-provider user-service-ref="userDetailsService">
		<!-- 可设置hash使用sha1或md5散列密码后再存入数据库 -->
		<s:password-encoder hash="plaintext" />
	</s:authentication-provider>

	<!-- 重新定义的FilterSecurityInterceptor, 使用definitionSource提供的url-授权关系定义 -->
	<bean id="filterSecurityInterceptor" class="org.springframework.security.intercept.web.FilterSecurityInterceptor"
		autowire="byType">
		<s:custom-filter before="FILTER_SECURITY_INTERCEPTOR" />
		<property name="objectDefinitionSource" ref="definitionSource" />
	</bean>

	<!-- 重新定义的 definitionSource, 使用resourceDetailsService提供的url-授权关系定义.-->
	<bean id="definitionSource" class="org.springside.modules.security.springsecurity.DefinitionSourceFactoryBean">
		<property name="resourceDetailsService" ref="resourceDetailsService" />
	</bean>

	<!-- 项目实现的用户查询服务 -->
	<bean id="userDetailsService" class="${package}.service.security.UserDetailsServiceImpl" />

	<!-- 项目实现的URL-授权查询服务 -->
	<bean id="resourceDetailsService" class="${package}.service.security.ResourceDetailsServiceImpl" />
</beans>