#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 日志文件  appender定义 -->
	<appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../logs/${artifactId}.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- 屏幕输出  appender定义 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- 业务信息默认为INFO级别  -->
	<logger name="${package}">
		<level value="INFO" />
	</logger>

	<!-- 屏蔽hibenate cache中的warnning信息 -->
	<logger name="org.hibernate.cache">
		<level value="ERROR" />
	</logger>

	<!-- 显示hibernate sql中绑定参数信息 -->
	<!--
		<logger name="org.hibernate.type"> <level value="TRACE" /> </logger>
	-->

	<!-- 整体默认为WARN级别  -->
	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE" />
	</root>

</log4j:configuration>