<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>Hessian服务端配置</description>

	<!-- UserWebService的Hessian Exporter -->
	<bean name="userHessianServiceExporter" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="userHessianService" />
		<property name="serviceInterface" value="org.springside.examples.showcase.ws.server.UserWebService" />
	</bean>

	<!-- UserWebService的实现Bean定义 -->
	<bean id="userHessianService" class="org.springside.examples.showcase.ws.server.impl.UserWebServiceImpl" />
</beans>