<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<description>Hessian客户端配置</description>

	<bean id="userHessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="http://localhost:8080/showcase/remoting/UserHessianService" />
		<property name="serviceInterface" value="org.springside.examples.showcase.ws.server.api.UserWebService" />
	</bean>
</beans>