<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<description>Jersey的REST配置</description>

	<!-- 设置JSON格式为NATURAL的Provider -->
	<bean id="jaxbContextResolver" class="org.springside.examples.showcase.rs.dto.JAXBContextResolver" />

	<!-- REST的实现Bean -->
	<bean id="userResourceService" class="org.springside.examples.showcase.rs.server.UserResourceService" />
</beans>
