body {
	font-size: 10pt;
}

a:link,a:visited,a:active,a:hover {
	color: #4d87ce;
}

div#listContent,div#footer {
	margin-top:10px
}

div#listContent table {
	border-collapse: collapse;
	border: none;
}

div#listContent th,div#listContent td {
	border: solid #999 1px;
	padding: 3px 4px 3px 4px;
}

.actionMessage {
	font-weight: bold;
}

input {
	background-color: #ffffff;
	padding: 3px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	border: 1px solid #728c40;
	background-color: #94ae62;
	margin-bottom: 2px;
}

input [type=submit] {
	background-color: #ffffff;
	padding: 3px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	border: 1px solid #728c40;
	margin-bottom: 2px;
}

