<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">
	<!-- 演示用的SolrJettyRunner模拟Solr -->
	<bean id="SolrSimulator" class="org.springside.modules.solr.SolrSimulator" lazy-init="false" />

	<bean id="solrServerFactory" class="org.springside.modules.solr.SolrServerFactoryBean">
		<property name="serverUrl" value="http://localhost:8983/solr/showcase" />
	</bean>

	<bean id="postSolrDao" class="org.springside.examples.showcase.solr.PostSolrDao" />
</beans>