<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<description>定时任务配置</description>

	<!-- Quartz集成工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
		<!-- Triggers组装 -->
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
				<ref bean="cronTrigger" />
			</list>
		</property>
		<!-- Quartz配置文件 -->
		<!-- <property name="configLocation" value="classpath*:/schedule/quartz.properties"/> -->
	</bean>

	<!-- Timer式 Trigger -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="timerJob" />
		<!-- 10 seconds -->
		<property name="startDelay" value="10000" />
		<!-- repeat every 60 seconds -->
		<property name="repeatInterval" value="600000" />
	</bean>

	<!-- Cron式 Trigger -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="cronJob" />
		<!-- 朝九晚五工作时间内每半小时执行一次 -->
		<property name="cronExpression" value="0 0/30 9-17 *,* * ?" />
	</bean>

	<!-- Quartz Timer Job -->
	<bean id="timerJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="exampleJob" />
		<property name="targetMethod" value="executeTimerLog" />
	</bean>

	<!-- Quartz Cron Job -->
	<bean id="cronJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="exampleJob" />
		<property name="targetMethod" value="executeCronLog" />
	</bean>

	<!-- 定期运行的业务类 -->
	<bean id="exampleJob" class="org.springside.examples.showcase.schedule.ExampleJob" />
</beans>