<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
	default-autowire="byType" default-lazy-init="true">

	<description>使用SpringSecurity的安全配置文件</description>

	<!-- http安全配置 -->
	<security:http auto-config="true" access-decision-manager-ref="accessDecisionManager">
		<security:form-login login-page="/login.action" default-target-url="/"
			authentication-failure-url="/login.action?error=true" />
		<security:logout logout-success-url="/" />
		<security:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" />
	</security:http>

	<!-- 认证配置 -->
	<security:authentication-provider user-service-ref="userDetailsService">
		<!-- 可设置hash使用sha1或md5散列密码后再存入数据库 -->
		<security:password-encoder hash="plaintext" />
	</security:authentication-provider>

	<!-- 自实现的用户查询服务 -->
	<bean id="userDetailsService" class="org.springside.examples.miniweb.service.security.UserDetailServiceImpl" />

	<!-- 自定义过滤器,在数据库存储URL-授权  begin -->
	<bean id="filterSecurityInterceptor" class="org.springframework.security.intercept.web.FilterSecurityInterceptor">
		<security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" />
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="objectDefinitionSource" ref="databaseDefinitionSource" />
	</bean>

	<bean id="databaseDefinitionSource" class="org.springframework.security.intercept.web.DefaultFilterInvocationDefinitionSource">
		<constructor-arg>
			<bean class="org.springframework.security.util.AntUrlPathMatcher" />
		</constructor-arg>
		<constructor-arg ref="databaseRequestMap" />
	</bean>

	<bean id="databaseRequestMap" class="org.springside.modules.security.springsecurity.RequestMapFactoryBean">
		<property name="requestMapService">
			<bean class="org.springside.examples.miniweb.service.security.RequestMapServiceImpl" />
		</property>
	</bean>
	<!-- 自定义过滤器,在数据库存储URL-授权  end -->


	<!-- 自定义授权判断器, 将授权名称的默认前缀由ROLE_改为A_. -->
	<bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.vote.RoleVoter">
					<property name="rolePrefix" value="A_" />
				</bean>
				<bean class="org.springframework.security.vote.AuthenticatedVoter" />
			</list>
		</property>
	</bean>
</beans>